<div class="container">
    <div class="details">
        <div class="img">
            <img src="assets/2.PNG" id="image">
        </div>
        <div class="data">
            <h2>Your Online notary has been scheduled</h2>
            <p>our team will soon schedule Appointment for Notarisation</p>
            <p>In case of emergency Notarisation, please reach out to us directly.</p>
            <img src="assets/3.PNG" id ="image">
        </div>
    </div>

    <div class="image">
        <img src="assets/img.PNG" id="image">
    </div>
</div>
